
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
@media (max-width: 960px) {
 .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

body {
  background-color: #dae1e7;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-right: 200px;
  padding-left: 200px;
  margin-left: 32;
  margin-right: 32;
}

h1 {
  color: #888888;
  font-size: 30px;
  line-height: 1;
  text-align: center;

}

h2 {
  color: #BBB;
  font-size: 25px;
  line-height: 1.4
}

h3{
  color: #BFC0C0;
  font-size: 20px;
  line-height: 1.4
}

p {
  font-weight: 100;
  color: black;
}

a :hover {
  color: #202329;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
  font-size: 25px;
}

img {
  margin-top: 16px;
  height: 200px;
  width: 200px;
  border-radius: 50%
}

.card {
  text-align: : center;
  background: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 30px 30px
  width: 400px;
  margin-top: 16px
}

.container {
  text-align: : center;
  width: 500px;
  margin-top: 16px
}


